<div class="signup">
    <h2>LOGIN</h2>
    <form action="/auth/login" method="POST">
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Register">
    </form>
</div>