<div class="company-profile">

    <div class="sidenav black">
        <i class="fa fa-user"></i>
        <a href="/">Home</a>
        <a href="/profile/{{user.id}}">View My Posts</a>
        <a href='/profile/'>Create Post</a>
        <a href="/viewAll">View Contests</a>
        <a href="/">View Profile</a>
        <a href="/auth/logout">Logout</a>
    </div>

</div>

<div class="company-box">
    <div class="company-title">
        <h1>COMPANY PROFILE</h1>
    </div>



    <hr class="company-hr">

    <form action="/profile/" method="POST" id="create-post">



        <label for="text">Title</label>
        <input type="text" name="title">
        <label for="">Description</label>
        <input type="text" name="description">
        <input type="submit" class="button" value="Create Post" id="post-submit">

    </form>



</div>

</div>