<div class="sidenav black">
    <a href="/">Home</a>
    <a href="#">Companies</a>
    <a href="#">Need Help</a>
    <a href="/auth/logout">Logout</a>
</div>

<div class="view-all">
    <a href="/view-single" class="box"></a>
    <h1>COMPANY PROFILE</h1>

</div>