<div class="company-profile">




    <div class="company-contents">
        <h1>COMPANY PROFILE</h1>





        <hr class="company-hr">

        <div class="posts-table">
            <table id="customers">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date created</th>
                </tr>
                {{#each posts }}

                <tr>
                    <th>{{this.title}}</th>
                    <th>{{this.description}}</th>
                    <th>{{this.createdAt}}</th>
                </tr>
                {{/each}}

            </table>
        </div>

    </div>
    <div class="company-empty">

    </div>

</div>
<footer>

</footer>