<div class="index-container">

    <div class="background-img">
        <div class="nav-bar">
            <div class="nav-title">AppName</div>
            <div class="nav-items">
                <a href="">Home</a>
                <a href="" class="login-ref">Login</a>
            </div>
        </div>
        <hr>
        <div class="index-header">

            <div class="header-container">
                <h1>Welcome To <strong id="red-appname">APPNAME</strong></h1>
                <p>We want to help you achieve your goals</p>

                <div class="index-btns">
                    <a href="/search" class="search-ref">Search</a>
                    <a href="/auth/signup" class="signup-ref">Signup</a>
                </div>
            </div>



        </div>
    </div>

    <div class="about">
        <div class="about-box">
            <i class="fa fa-money" style="font-size:100px;" aria-hidden="true"></i>
            <p>I have the skill, but not the money. This is a great chance to show your skills to a company</p>
        </div>
        <div class="about-box">
            <i class="fa fa-building" style="font-size:100px;" aria-hidden="true"></i>
            <p>Find the contest that best suits your experience, fill out a form and participate</p>

        </div>
        <div class="about-box">
            <i class="fa fa-file-text" style="font-size:100px;" aria-hidden="true"></i>
            <p>Find the contest that best suits your experience, fill out a form and participate</p>

        </div>

    </div>
    <div class="contact">

    </div>

</div>