<div class="soylaotramitad">
  <div class="menudelaizquierda">
    <ul>
      <li><a href="/viewAll" class="menulist">Find New Contest</a></li>
    </ul>
  </div>
  <div class="lodemas">
    <div class="consursossuscritos">
      <p>
        Compañia: IBM<br />
        Concurso: Realizar aplicacion web que pueda ser chat que acepte contenido multimedia<br />
        Requesitos:
        <ul>
          <li>Usar Javascript como lenguaje principal</li>
          <li>Usar base de datos de atlas</li>
          <li>no tener ninguna libreria</li>
          <br />
          Premio:
          <ul>
            <li>Primer lugar: Premio en efectivo de $10.000.00 pesos</li>
            <li>Segundo lugar: Premio en efectivo de $5.000.00 pesos</li>
            <li>Tercer lugar: Premio en efectivo de $3.000.00 pesos</li>
          </ul>
          </li>
        </ul>
      </p>
    </div>
  </div>
  <div class="lodemas">
    <div class="consursossuscritos">
      <p>
        Compañia: HP<br />
        Concurso: Realizar aplicacion web que pueda Ubicar las tiendas mas cercanas y la ruta para que el cliente pueda
        llegar<br />
        Requesitos:
        <ul>
          <li>Usar Javascript como lenguaje principal</li>
          <li>Usar Mapbox</li>
          <li>Usar base de datos de atlas</li>
          <br />
          Premio:
          <ul>
            <li>Primer lugar: Premio en efectivo de $50.000.00 pesos</li>
            <li>Segundo lugar: Premio en efectivo de $30.000.00 pesos</li>
            <li>Tercer lugar: Premio en efectivo de $10.000.00 pesos</li>
          </ul>
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>
</div>