<div class="soytodo">
  <div class="hastaarriba">
    <h1 class="titulo">User Profile</h1>
    <div class="itemhastaarriba">
      <a href="/">Home</a>
      <a href="" class="logout">Logout</a>
    </div>
  </div>
  <div class="soylaotramitad">
    <div class="menudelaizquierda">
      <ul>
        <li><a href="" class="menulist">Edit Profile</a></li>
        <li><a href="" class="menulist">Find New Contest</a></li>
        <li><a href="" class="menulist">See old Contest</a></li>
      </ul>
    </div>
    <div class="lodemas">

      {{!-- {{#each publicaciones as |publicacion|}}
     aquí haces la card con html
     {{/each}} --}}

    </div>
  </div>
</div>