<!-- Side navigation -->
<div class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<div class="view-all">
    <a href="/view-single" class="box"></a>

</div>