<div class="single-container">
    <div class="view-single shadow">
        <img src="{{this.photoUrl}}" alt="">

    </div>


    <div class="single-info">
        <h1>Upcoming HACK&MAKE EVENTS IN Mexico City</h1>
        <p> {{this.description}} </p>
        <p>Date added: {{this.createdAt}} </p>
        <a href="" class="publish" style="text-decoration: none;">SignUp for contest</a>
    </div>



</div>