<!-- Side navigation -->
<div class="sidenav">
    <a href="/">Home</a>
    <a href="#">Companies</a>
    <a href="/profile/">Profile</a>
</div>

<div class="view-all">


    {{#each posts}}
    <div class="post-box shadow">

        <a href="/view-single/{{ this._id}}"> <img src="../images/default.png" alt=""></a>

        <div class="post-info">
            <a href="">
                <h1>LOCAL HACK DAY HOSTED BY ME</h1>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore accusantium itaque ad unde. Ex eum
                corporis velit libero soluta hic rem, architecto, a exercitationem, ipsa officia aspernatur beatae cum.
                Cum.</p>
        </div>
    </div>
    <div class="post-box shadow">

        <a href="/view-single/{{ this._id}}"> <img src="../images/default.png" alt=""></a>

        <div class="post-info">
            <a href="">
                <h1>LOCAL HACK DAY HOSTED BY ME</h1>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore accusantium itaque ad unde. Ex eum
                corporis velit libero soluta hic rem, architecto, a exercitationem, ipsa officia aspernatur beatae cum.
                Cum.</p>
        </div>
    </div>
    <div class="post-box shadow">

        <a href="/view-single/{{ this._id}}"> <img src="../images/default.png" alt=""></a>

        <div class="post-info">
            <a href="">
                <h1>LOCAL HACK DAY HOSTED BY ME</h1>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore accusantium itaque ad unde. Ex eum
                corporis velit libero soluta hic rem, architecto, a exercitationem, ipsa officia aspernatur beatae cum.
                Cum.</p>
        </div>
    </div>
    {{/each}}

</div>