<!-- Side navigation -->
<div class="sidenav">
    <a href="/">Home</a>
    <a href="#">Companies</a>
    <a href="/profile/">Profile</a>
</div>

<div class="view-all">
    {{#each posts}}
    <a href="/view-single/{{ this._id}}" class="box"> {{this.title}} </a>
    {{/each}}

</div>