<div class="view-all-container">

    <div class="test-box">
        <h1>Upcoming HACK&MAKE EVENTS IN Mexico City</h1>
    </div>
    <div class="view-all ">

        {{#each posts}}
        <div class="post-box shadow">

            <a href="/view-single/{{this._id}}"> <img
                    src=" {{#if this.photoUrl}}{{this.photoUrl}}{{else}}../images/default.png {{/if}}" alt=""></a>

            <div class="post-info">
                <a href="/view-single/">
                    <h1>{{this.title}}</h1>
                </a>


            </div>
        </div>

        {{/each}}

    </div>

</div>