</div>
<div class="view-all-container">


    <div class="view-all ">


        {{#each posts}}
        <div class="post-box shadow">

            <a href="/view-single/{{this._id}}"> <img src="../images/default.png" alt=""></a>

            <div class="post-info">
                <a href="/view-single/">
                    <h1>{{this.title}}</h1>
                </a>
                <p> {{this.description}} </p>
                <h1>By: {{this.author.email}} </h1>

            </div>
        </div>

        {{/each}}

    </div>

</div>