<!-- Side navigation -->
<div class="sidenav">
    <a href="/">Home</a>
    <a href="#">Companies</a>
    <a href="#">Need Help</a>
</div>

<div class="view-all">
    <a href="/view-single" class="box"></a>

</div>