* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
}
body {
  background-color: white;
}

a {
  color: #00b7ff;
}
.index-container {
  width: 100vw;
  background-image: url("../images/bnwBackground.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-img {
  background: #525161;
  opacity: 0.9;
  overflow: hidden;
  z-index: 1;
}
.index-container a {
  border-radius: 10px;
  text-decoration: none;
}
.nav-bar {
  height: 10vh;
  width: 100vw;
  color: #525161;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  -webkit-box-shadow: 5px 5px 5px rgb(0, 0, 0);
  -moz-box-shadow: 5px 5px 5pxrgb (0, 0, 0);
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  z-index: 999;
  background-color: white;
  opacity: 0.9;
  font-size: 25px;
}
.nav-bar a {
  color: #525161;
}
.nav-title {
  margin-left: 50px;
}
.nav-items {
  margin-right: 50px;
}
.nav-items a {
  text-decoration: none;
  margin: 0 5px;
  color: #525161;
}
.publish {
  background-color: #fe5f55;
  padding: 5px 20px;
  border-radius: 10px;
  color: white;
  transition: 0.4s;
}
.publish:hover {
  color: white;
}
.login-ref {
  border: 1px solid #eef5db;
  color: white;
  transition: 0.4s;
  font-size: 1.5rem;
  padding: 5px 30px;
  border-radius: 10px;
}
.login-ref:hover {
  background-color: white;
  color: #fe5f55;
}

.index-header {
  width: 100vw;
  height: 90vh;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.header-container {
  width: 90vw;
  height: 100%;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.index-btns {
  margin-top: 20px;
}
hr {
  align-content: center;
  opacity: 0.4;
  margin: 0 40px;
}
.index-btns a {
  color: #fe5f55;
  border: 0.9px solid #fe5f55;
  font-size: 16.8px;
  padding: 10px 50px;
  transition: 0.6s;
}
.search-ref:hover,
.signup-ref:hover {
  background-color: #fe5f55;
  color: white;
  opacity: 0.9;
}
#red-appname {
  color: #fe5f55;
}
.about {
  width: 100vw;
  height: 80vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}
.about-box {
  width: 20vw;
  text-align: center;
}
.login-form {
  border-radius: 10px 10px 10px 10px;
  background: #eef5db;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding-top: 30px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  box-sizing: border-box;
}
#icon {
  width: 60%;
}
img {
  vertical-align: middle;
  border-style: none;
}
form {
  display: block;
  margin-top: 0em;
}
input[name="description"] {
  background-color: #f6f6f6;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
  width: 100%;
  height: 30vh;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}

input[type="password"] {
  background-color: #f6f6f6;
  color: #0d0d0d;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 70%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}
input[type="submit"] {
  background-color: #fe5f55;
  border: none;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  transition: all 0.3 ease-in-out;
}
.main {
  padding-bottom: 100px;
  padding-top: 130px;
  background: linear-gradient(to top right, #4f6367 0%, #b8d8d8 100%);
  min-height: 100vh;
}
div {
  display: block;
}
.boxform {
  max-width: 680px;
  margin: 0;
  height: 100px;
}
.cardform {
  background: #fff;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}
.cardbody {
  padding: 57px;
}
.about-box p {
  margin-top: 40px;
}
.contact {
  width: 100vw;
  height: 90vh;
  background-color: #fe5f55;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.contact-form input {
  width: 30vw;
  height: 10px;
  background-color: #fe5f55;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

#contact-message {
  width: 70vw;
  height: 20vh;
}

.form-row {
  display: flex;
}

.form-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-button button {
  background-color: #fe5f55;
  color: white;
  border: 2px solid white;
  padding: 15px 60px;
  border-radius: 30px;
}

input,
textarea,
select,
a {
  outline: none;
}

i {
  color: #fe5f55;
}

.login-container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.test-box {
  background-image: url("../images/bnwBackground.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  width: 100vw;
  height: 60vh;
  background-color: #4f6367;
  position: relative;
  top: 0%;
  left: 0%;
}
.view-all-container {
  width: 100vw;
  background-image: url("../images/graynBackground.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.view-all {
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 0%;
}

.gray-background {
  overflow: hidden;
}
.post-box {
  background-color: white;
  border: 1px solid black;
  height: 30vh;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}
.post-box img {
  background-color: red;
  width: 100%;
  height: 100%;
}
.post-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 30px;
  opacity: none;
}
.post-innerbox {
  border: 1px solid red;
  color: black;
  width: 40%;
  height: 100%;
}
.shadow {
  box-shadow: 0 7px 6px -6px black;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7a9e9f;
}

@media only screen and (max-width: 600px) {
  .header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .index-container a {
    padding: 4px 20px;
    border-radius: 10px;
  }
  .about {
    width: 100vw;
    height: 80vh;
    background-color: #fe5f55;
  }
}
/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

button:hover {
  opacity: 1;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}
/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.black {
  background-color: #0d0d0d;
}

/* COMPANY PROFILE CSS */
.company-profile .sidenav {
  width: 15vw;
  background-color: white;
  color: #fe5f55;
  border-right: 1px solid #fe5f55;
}
.company-profile .sidenav a {
  color: #fe5f55;
  transition: 0.3s;
}
.company-hr {
  border-color: #fe5f55;
}
.company-profile .sidenav a:hover {
  background-color: #fe5f55;
  color: white;
}
.sidenav i {
  display: flex;
  justify-content: center;
  font-size: 10vw;
  margin-bottom: 10vh;
}
.company-title {
  color: #fe5f55;
  width: 70vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#create-post {
  width: 70vw;
  padding: 0 10vw;
  margin-top: 20vh;
}
#post-submit {
  transition: 0.3s;
  border: 1px solid #fe5f55;
}
#post-submit:hover {
  background-color: white;
  color: #fe5f55;
  border: 1px solid #fe5f55;
}

.company-box {
  margin-left: 15vw;
}
#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fe5f55;
  color: white;
}

.hastaarriba {
  width: 100vw;
  height: 10vh;
  background: #4f6367;
  color: white;
  padding: 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemhastaarriba a {
  text-decoration: none;
  border-radius: 10px;
  margin: 5px;
  color: white;
}
.soylaotramitad {
  display: flex;
}
.menudelaizquierda {
  background: #b8d8d8;
  width: 10vw;
  height: 100vh;
}
.lodemas {
  background: #7a9e9f;
  width: 90vw;
  height: 100vh;
}
.titulo {
  margin-left: 50px;
}
.logout {
  text-decoration: none;
  margin: 0 5px;
  color: white;
  border: 1px solid #eef5db;
  color: white;
  transition: 0.7s;
  font-size: 0.8rem;
  padding: 5px 30px;
}
.logout:hover {
  background-color: white;
  color: #fe5f55;
}
.menulist {
  text-decoration: none;
  margin: 0;
  color: white;
  border: 1px solid #eef5db;
  color: white;
  transition: 0.7s;
  font-size: 1.2rem;
  padding: 50px 40px;
  display: flex;
  justify-content: space-between;
  color: black;
}
.menulist:hover {
  background-color: white;
  color: #fe5f55;
}

/* Full-width input fields */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #00b7ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 10vw;
  border-radius: 50%;
}

.container-form {
  padding: 16px;
}

span.password {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40vw; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.password {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
.card-image {
  width: 100%;
  height: 200px;
  padding: 0px;
  margin: 0px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.image1 {
  background-image: url("http://farm6.staticflickr.com/5323/9902848784_cbd10ba3ca_c.jpg");
}
